@charset "utf-8";
/* CSS Document */

header{
	width:100%;
	min-height:70px;
	position:fixed;
    background-color: var(--white-color);
	z-index: 1700;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .header-div-in{
	width:96%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .header-div-in .logo-div{
	width:170px;
	overflow: hidden;
}

header .header-div-in .logo-div img{
    width: 100%;
	object-fit: cover;
}

header .header-div-in .header-nav-div{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

header .header-div-in .header-nav-div .left-icon-div{
	min-width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

header .header-div-in .header-nav-div .left-icon-div .icon-div{
	min-width:40px;
	height:40px;
	color:var(--sub-body-color);
	font-size:14px;
	border-radius:50px;
	padding: 0px 18px;
	font-family: sub-title-font;
	border: #e9e9e9 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	transition:all ease 0.2s;
	cursor:pointer;
}

header .header-div-in .header-nav-div .left-icon-div .icon-div i{
	color:var(--sub-body-color);
	font-size:16px;
}

header .header-div-in .header-nav-div .left-icon-div .cart-icon{
	border-radius: 100%;
	padding: 0px;
}

header .header-div-in .header-nav-div .left-icon-div .dot-icon{
	min-width: 12px;
	border: none;
	padding: 0px;
	border-radius: 4px;
}

header .header-div-in .header-nav-div .left-icon-div .dot-icon i{
	font-size: 24px;
	color:var(--sub-body-color);
}

header .header-div-in .header-nav-div .left-icon-div .icon-div:hover{
	background: #f5f5f5;
}



header .header-div-in .header-nav-div .left-icon-div .bell_notification div{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	background: #E1201F;
	border-radius: 100%;
	margin-left: -5px;
	margin-top: -8px;
	color: var(--white-color);
	font-size: 8px;
}

header .header-div-in .header-nav-div .left-icon-div .profile-div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

header .header-div-in .header-nav-div .left-icon-div .profile-div .info-div{
	width: calc(100% - 45px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:var(--sub-body-color);
}

header .header-div-in .header-nav-div .left-icon-div .profile-div .info-div h2{
	padding: 0px;
	margin: 0px;
	overflow:hidden;
    font-size: 14px;
	font-family: sub-title-font;
	color: #4e4e4e;
}

header .header-div-in .header-nav-div .left-icon-div .profile-div .info-div .email{
	font-family: body-font;
	font-size: 13px;
	color: var(--text-color);
}

header .header-div-in .header-nav-div .left-icon-div .profile-div .name-abbr{
	height: 35px;
	width: 30px;
	border-radius: 5px;
	padding: 0px 4px;
	border: rgba(235, 127, 31, 0.2) 2px solid;
	background: rgba(235, 127, 31, 0.1);
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .header-div-in .header-nav-div .left-icon-div .profile-div .name-abbr span{
	color: var(--text-color);
	font-family: sub-title-font;
}

header .header-div-in .header-nav-div .toggle-profile-div{
	top:70px;
	width:320px;
	background: #fcfcfc;;
	height: auto;
	position:absolute;
	right:1%;
	display:none;
	border-radius:3px;
	box-shadow:0px 0px 9px 1px rgba(0,0,0,.1);
}

header .header-div-in .header-nav-div .toggle-profile-div:after{
	content:"";
	width:0px;
	height:0px;
	position: absolute;
	border:15px solid;
	border-color:  transparent  transparent  #F4F4F4 transparent;
	right:10px;
	top:-30px;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in{
	padding:15px 15px 8px 15px;
	display: flex;
	flex-direction: column;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div{
	display: flex;
	align-items: center;
	gap: 10px;
	padding-bottom: 10px;
	border-bottom: #e9e9e9 1px solid;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div .info-div{
	width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:var(--sub-body-color);
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div .info-div h2{
	padding: 0px;
	margin: 0px;
	overflow:hidden;
    font-size: 14px;
	font-family: sub-title-font;
	color: #4e4e4e;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div .info-div .email{
	font-family: body-font;
	font-size: 13px;
	color: var(--text-color);
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div .name-abbr{
	height: 35px;
	width: 30px;
	border-radius: 5px;
	padding: 0px 4px;
	border: rgba(235, 127, 31, 0.2) 2px solid;
	background: rgba(235, 127, 31, 0.1);
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div .name-abbr span{
	color: var(--text-color);
	font-family: sub-title-font;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div ul{
	width: 100%;
	padding: 10px 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div ul li{
	list-style: none;
	font-size: 14px;
	font-family: body-font;
	color: var(--sub-body-color);
	padding: 8px 10px;
	border-radius: 5px;
	cursor:pointer;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .title-div ul li:hover{
	background: #f8f7f7;
	color: var(--secondary-color);
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .center-div{
	padding-bottom: 0px;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .bottom-div{
	border-top: 0px;
	border-bottom: 0px;
	padding-bottom: 0px;
}








.side-nav-div {
    position: fixed;
    width: 220px;
    height: calc(100% - 70px);
    left: 0px;
    bottom:0px;
    z-index: 150;
	background: var(--white-color);
}

.side-nav-div .nav-back-div {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
    gap: 8px;
}

.side-nav-div .nav-back-div .nav-div{	
	width:calc(100% - 30px);
    padding: 14px 15px;
	border-radius: 5px;
	color: #5A5D72;
    cursor: pointer;
    display: flex;
	flex-direction: column;
	gap: 15px;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.side-nav-div .nav-back-div .nav-div .dashboard-in{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 15px;
	padding: 0px 15px;
}

.side-nav-div .nav-back-div .nav-div .dashboard-in .li-in{
	width: 100%;
	font-size: 13px;
	font-family: body-font;
	color: var(--text-color);
	cursor: pointer;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.side-nav-div .nav-back-div .nav-div .dashboard-in .li-in:hover, .side-nav-div .nav-back-div .nav-div .dashboard-in .active{
	color: var(--secondary-color);
}


.side-nav-div .nav-back-div .nav-div .top-nav{	
	width: 100%;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.side-nav-div .nav-back-div .nav-div .top-nav .nav-in {
	width: 100%;
	font-size: 14px;
	font-family: sub-title-font;
	display: flex;
	align-items: center;
	gap: 10px;
}

.side-nav-div .nav-back-div .nav-div .top-nav .nav-in i {
	font-size: inherit; 
	line-height: 1; 
	display: flex;
	align-items: center; 
	justify-content: center;
}

.side-nav-div .nav-back-div .nav-div .top-nav .nav-in span {
	line-height: 1;
}



.side-nav-div .nav-back-div .nav-div:hover, .side-nav-div .nav-back-div .active-li {
    color: var(--secondary-color);
	background: rgba(235, 126, 31, 0.027);
}

.side-nav-div .nav-back-div .nav-div .bi-chevron-right{
    font-size: 13px;
}


.hidden{
	display:none;
}







.content-div{
	position:absolute;
	width: calc(100% - 280px);
	height: auto;
	min-height: calc(100% - 70px);
	top:70px;
	left:220px;	
	padding: 30px;
    display: flex;
    background: #f8f8f8;
}


#page-content{
	position:relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}




.page-title-back-div{
	position: relative;
	width: calc(100% - 40px);
	padding: 15px 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff url(../../all-images/images/title.png) center no-repeat;
	background-size: cover;
	z-index: 1500;
}

.other-pages-title-back-div{
	position: relative;
	width: calc(100% - 30px);
	padding: 10px 15px;
}

.page-title-back-div .page-title-div{
	display: flex;
	justify-content: center;
    flex-direction: column;
}

.other-pages-title-back-div .page-title-div .back-div{
	display: flex;
	gap: 5px;
	font-family: body-font;
	color: var(--sub-body-color);
	font-size: 12px;
}

.other-pages-title-back-div .page-title-div .back-div span{
	font-family: body-font;
	color: var(--text-color);
	font-size: 11px;
	cursor: pointer;
}

.page-title-back-div .page-title-div .top-title{
    font-size: 13px;
	font-family: body-font;
	color: var(--sub-body-color);
}

.page-title-back-div .page-title-div .top-title i{
    color: var(--secondary-color);
}

.page-title-back-div .page-title-div .main-title{
	font-size:17px;
	overflow: hidden;
    font-family:title-font;
	color: var(--sub-body-color);
	display: flex;
	align-items: center;
	gap: 5px;
}

.page-title-back-div .page-title-div .main-title i{
	color: var(--secondary-color);
	font-size:15px;
}

.page-title-back-div .page-title-div .bottom-title{
	font-size: 12px;
	font-family: body-font;
	color: var(--text-color);
}

.page-title-back-div .other-pages-title-div{
	position: relative;
	min-width: 600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

.page-title-back-div .other-pages-title-div .btn{
	border: none;
	min-width: 150px;
	height: 45px;
	font-family: sub-title-font;
	font-size: 14px;
	border-radius: 5px;
	background:var(--secondary-color);
	color: var(--white-color);
	cursor: pointer;
	transition: all 0.2s ease-in 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.page-title-back-div .other-pages-title-div .btn i{
	font-size: 12px;
}

.page-title-back-div .other-pages-title-div .btn:hover{
	background: var(--sub-body-color);
}

.domain-search-back-div{
	width: 100%;
	display: flex;
    justify-content: space-between;
	gap: 20px;
}

.domain-search-back-div .search-back-div{
	width: calc(100% - 320px);
	min-height: 100px;
	border-radius: 5px;
	display: flex;
	background: var(--white-color);
}

.domain-search-back-div .search-back-div .div-in{
	width: calc(100% - 60px);
	padding: 10px 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
}

.domain-search-back-div .search-back-div .div-in span{
	font-size: 14px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
}

.domain-search-back-div .search-back-div .div-in .search-cont{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
}

.domain-search-back-div .main-search-page{
	width: 100%;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff url(../../all-images/images/title.png) center no-repeat;
	background-size: cover;
}

.domain-search-back-div .main-search-page .main-search-div-in{
	width: 650px;
	padding: 30px 50px;
	display: flex;
	flex-direction: column;
}

.domain-search-back-div .main-search-page .main-search-div-in h3{
	padding: 0px;
	margin: 0px;
	font-family: sub-title-font;
	font-size: 20px;
	line-height: 32px;
	color: var(--sub-body-color);
}

.domain-search-back-div .main-search-page .main-search-div-in span{
	font-family: body-font;
	font-size: 12px;
	color: var(--text-color);
}

.domain-search-back-div .main-search-page .domain-search{
	width: calc(100% - 60px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
}

.domain-search-back-div .main-search-page .domain-search .left-div{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
}

.domain-search-back-div .main-search-page .domain-search .left-div .icon-div{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 5px;
	font-size: 25px;
	color: var(--sub-text-color);
	background:rgb(252, 164, 57,.1);
}

.domain-search-back-div .main-search-page .domain-search .left-div .green-icon{
	background:rgba(46,204,113,.1);
	color:rgba(9, 172, 77, 0.9);
}

.domain-search-back-div .main-search-page .domain-search .left-div h3{
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
}

.domain-search-back-div .main-search-page .domain-search .right-cart-div{
	min-width: 300px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.domain-search-back-div .main-search-page .domain-search .right-cart-div .price{
	font-size: 18px;
	font-family: title-font;
	color: var(--sub-body-color);
}

.domain-search-back-div .main-search-page .domain-search .right-cart-div .btn{
	border: none;
	font-size: 14px;
	font-family: sub-title-font;
	color: var(--white-color);
	background: var(--secondary-color);
	border-radius: 5px;
	padding: 10px 18px;
	transition: all 0.2s ease-in 0.2s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.domain-search-back-div .main-search-page .domain-search .right-cart-div .btn:hover{
	background: var(--sub-body-color);
}


.domain-search-back-div .main-search-page #notAvailableDomain, #availableDomain, #suggestedDomain{
	display: none;
}

.suggested-domain-back-div{
    width: 100%;
    height: auto;
    border-radius: 8px;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
	border: #e7ecec 1px solid;
}

.suggested-domain-back-div .title{
    display: flex;
    flex-direction: column;
	padding: 15px 20px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
	font-size: 16px;
	overflow: hidden;
}

.suggested-domain-back-div .suggested-domain{
	width:calc(100% - 40px);
	min-height: 50px;
    display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-top: #e7ecec 1px solid;
}

.suggested-domain-back-div .suggested-domain .left-div{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
}

.suggested-domain-back-div .suggested-domain .left-div .icon-div{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	padding: 5px;
	font-size: 20px;
	color: var(--secondary-color);
	background: rgba(235, 127, 31, .1);
}

.suggested-domain-back-div .suggested-domain .left-div h3{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
}

.suggested-domain-back-div .suggested-domain .right-cart-div{
	min-width: 300px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.suggested-domain-back-div .suggested-domain .right-cart-div .price{
	font-size: 15px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
}

.suggested-domain-back-div .suggested-domain .right-cart-div .btn{
	border: #e9e9e9 1px solid;
	font-size: 14px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
	background: var(--white-color);
	border-radius: 5px;
	padding: 8px 20px;
	transition: all 0.2s ease-in 0.2s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.suggested-domain-back-div .suggested-domain .right-cart-div .btn:hover{
	background: #f8f8f8;
}


.dash_field_container {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 0px;
}

.dash_field_container .dash_placeholder {
	top: 50%;
	font-size: 12px;
	height: 20px;
	width: calc(80% - 20px);
}

.dash_field_container .dash_placeholder i{
	font-size: 11px;
}

.dash_field_container .dash_text_field {
	height: 35px;
	padding-top: 10px;
	font-size: 14px;
}

.dash_field_container .dash_text_field:focus+.dash_placeholder,
.dash_field_container .dash_text_field:not(:placeholder-shown)+.dash_placeholder {
	top: 25%;
	font-size: 10px;
}


.extension_text_field_container{
	min-width: 130px;
	margin-bottom: 0px;
	height: 45px;
}

.extension_text_field_container .selectSearch{
	width:100%;
	height: 46px;
	padding-top: 10px;
	font-size: 13px;
}

.extension_text_field_container .addSearchPanel{
	width: 130px;
}

.domain-search-back-div .search-back-div .div-in .search-cont .btn{
	border: none;
	min-width: 120px;
	min-height: 45px;
	border-radius: 5px;
	padding: 0px 20px;
	font-size: 14px;
	background: var(--secondary-color);
	font-family: sub-title-font;
	color: var(--white-color);
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.domain-search-back-div .search-back-div .div-in .search-cont .btn:hover{
	background: var(--sub-body-color);
}


.domain-search-back-div .wallet-back-div{
	width: 300px;
	min-height: 80px;
	border-radius: 5px;
	display: flex;
	background: var(--white-color);
}

.domain-search-back-div .wallet-back-div .div-in{
	width: calc(100% - 30px);
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.domain-search-back-div .wallet-back-div .div-in .top-div{
	display: flex;
	justify-content: space-between;
	border-bottom: #e9e9e9 1px solid;
	padding-bottom: 8px;
}

.domain-search-back-div .wallet-back-div .div-in .top-div span{
	font-size: 14px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
}

.domain-search-back-div .wallet-back-div .div-in .top-div span i{
	color: var(--secondary-color);
}

.domain-search-back-div .wallet-back-div .div-in .top-div .btn{
	border: none;
	height: 35px;
	border-radius: 5px;
	padding: 5px 20px;
	font-size: 13px;
	background: var(--secondary-color);
	font-family: sub-title-font;
	color: var(--white-color);
	cursor: pointer;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.domain-search-back-div .wallet-back-div .div-in .top-div .btn:hover{
	background: var(--sub-body-color);
}

.domain-search-back-div .wallet-back-div .div-in .wallet-div{
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.content-div .inner-content .domain-search-back-div .wallet-back-div .div-in .wallet-div span{
	font-size: 13px;
	font-family: sub-title-font;
	color: var(--sub-body-color);
} 

.domain-search-back-div .wallet-back-div .div-in .wallet-div .amount{
	font-size: 25px;
	font-family: title-font;
	color: var(--sub-body-color);
	
} 


.dynamic-back-div {
    position: relative;
    width: 100%;
    min-height: 400px;
    border-radius: 8px;
    background: var(--white-color);
    z-index: 500;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.table-div {
    width: 100%;
    min-height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: #e7ecec 1px solid;
    margin-bottom: 20px;
	overflow: auto;
}

.table-div ul{
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.table-div ul li{
	list-style: none;
	font-size: 13px;
	padding: 10px 30px;
	color: var(--sub-body-color);
	font-family: sub-title-font;
	border-bottom: var(--white-color) 2px solid;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.table-div ul li i{
	font-size: 12px;
	color: var(--secondary-color);
}

.table-div ul li:hover, .table-div ul .active-li{
	color: var(--secondary-color);
	border-bottom: var(--secondary-color) 2px solid;
	background: rgba(235, 126, 31, 0.027);
}



.table-div .table {
	width: 100%;
	font-size: 12px;
	min-width: 500px;
	height: auto;
	border-collapse: collapse;
}


.table-div .table .tb-col{
	background: #f8f8f8;
	height: 40px;
    text-align: left;
    border-bottom: 1px solid #ecf0f1;
	color: var(--sub-body-color);
}

.table-div .table th {
    padding: 10px 20px;
	font-family: body-font;
	font-size: 12px;
	font-weight: 100;
}

.table-div .table .tb-row {
    height: 60px;
	color: var(--text-color);
	font-size: 13px;
    border-bottom: 1px solid #ecf0f1;
}

.table-div .table td {
    padding: 10px 20px; 
	font-family: body-font;
}

.table-div .table .tb-col input{
	cursor: pointer;
	padding: 0px;
	margin: 0px;
}

.table-div .table .tb-row .first-td, .table-div .table .tb-row .second-td{
	font-family: sub-title-font;
	color: var(--sub-body-color);
	cursor: pointer;
}


.table-div .table .tb-row .first-td:hover, .table-div .table .tb-row .second-td:hover{
	color: var(--secondary-color);
}

.table-div .table .tb-row .icon-div{
	float: left;
	width: 20px;
	margin: auto;
	font-size: 15px;
	color: var(--secondary-color);
}

.table-div .table .tb-row .active-icon{
	color:rgba(9, 172, 77, 0.9);
}

.table-div .table .tb-row .manage{
	text-decoration: underline;
	cursor: pointer;
}

.table-div .table .tb-row .manage:hover{
	color: var(--secondary-color);
}

.table-div .table td i{
	cursor: pointer;
}

.table-div .table .status-div{
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 0px 10px;
	font-size:11px;
	font-family: body-font;
	float: left;
}

.table-div .table .active{
	background:rgba(46,204,113,.1);
	color:rgba(9, 172, 77, 0.9);
}

.table-div .table .expired{
	background:rgb(252, 164, 57,.1);
	color:rgba(218, 90, 31, 0.87);
}


.table-div .title-div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
}

.table-div .title-div .left-title{
	font-family: sub-title-font;
	font-size: 14px;
	color: var(--sub-body-color);
	display: flex;
	align-items: center;
	gap: 5px;
}

.table-div .title-div .left-title i{
	color: var(--secondary-color);
	font-size: 13px;
}
 
.table-div .title-div .table-search{
	min-width: 400px;
}


.table-div .bottom-div{
	display: flex;
	align-items: center;
	min-height: 55px;
	padding: 0px 25px;
}

.table-div .bottom-div span{
	font-size: 13px;
	font-family: sub-title-font;
	color: var(--secondary-color);
	text-decoration: underline;
	cursor: pointer;
}


.table-div .table .tb-row .switch {
    display: flex;
    align-items: center;
    position: relative;
	gap: 8px;
    cursor: pointer;
}

.table-div .table .tb-row .switch input {
    display: none;
}

.table-div .table .tb-row .slider {
    position: relative;
    width: 35px;
    height: 17px;
    background: #d3d0d0;
    border-radius: 20px;
    transition: 0.3s;
}

.table-div .table .tb-row .slider:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: var(--white-color);
	color: var(--white-color);
    border-radius: 50%;
    top: 49%;
    left: 4px;
    transform: translateY(-50%);
    transition: 0.3s;
}

.table-div .table .tb-row input:checked + .slider {
    color:rgba(9, 172, 77, 0.9);
	background: rgba(9, 172, 77, 0.9);
}

.table-div .table .tb-row input:not(:checked) + .slider + .toggle-label {
    color: #a19c9c;
}

.table-div .table .tb-row input:checked + .slider:before {
    transform: translate(15px, -50%);
}

.table-div .table .tb-row .toggle-label {
    font-size: 13px;
	font-family: body-font;
	color:rgba(9, 172, 77, 0.9);
}

.table-div .table .tb-row input{
	cursor: pointer;
	padding: 0px;
	margin: 0px;
}


.pagination-back-div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    background-color: #fff;
	border-radius: 0px 0px 8px 8px;
    z-index: 10;
}

.pagination-back-div .div-in {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: body-font;
    font-size: 14px;
}

.pagination-back-div .count {
    color:var(--text-color);
	font-size: 13px;
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination-btn, .pagination-page {
    padding: 5px 12px;
    border: 1px solid #e9ecec;
    background-color: #f9f9f9;
	color:var(--sub-body-color);
    cursor: pointer;
    border-radius: 4px;
	color: var(--sub-body-color);
	font-family: body-font;
	font-size: 12px;
}

.pagination-btn[disabled] {
    background-color: #f5f5f5;
    color: #aaa;
    cursor: not-allowed;
	border: 1px solid #e9e9e9;
}

.pagination-page.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}


.main-extension-back-div{
	width: calc(100% - 40px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 5px;
	background: var(--white-color);
}

.main-extension-back-div .title-div{
	display: flex;
	font-family: sub-title-font;
	font-size: 15px;
	color: var(--sub-body-color);
	margin-bottom: 5px;
}

.main-extension-back-div .extention-back-div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.main-extension-back-div .extention-back-div .extention-div{
	width: 30%;
	min-height: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: #e7ecec 1px solid;
	border-radius: 5px;
	background: var(--white-color);
}

.main-extension-back-div .extention-back-div .extention-div .top-div{
	width: 100%;
	height: 50%;
	padding: 12px 0px;
	border-bottom: #e7ecec 1px solid;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-extension-back-div .extention-back-div .extention-div .no-border{
	border-bottom: none;
}

.main-extension-back-div .extention-back-div .extention-div .top-div .img-div{
	width: 70px;
	overflow: hidden;
}

.main-extension-back-div .extention-back-div .extention-div .top-div .domain-ng{
	width:40px;
}

.main-extension-back-div .extention-back-div .extention-div .top-div .img-div img{
	width: 100%;
	object-fit: cover;
}

.main-extension-back-div .extention-back-div .extention-div .top-div h3{
	padding: 0px;
	margin: 0px;
	font-family: sub-title-font;
	font-size: 15px;
	color: var(--sub-body-color);
}